@model ARID.Models.Project
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization

@inject IViewLocalizer Localizer
﻿@{
    ViewData["Title"] = Localizer["Title"];
}

<h2>@Localizer["Delete"]</h2>

<h3>@Localizer["Sure"]</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ArProjectName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArProjectName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EnProjectName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EnProjectName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EnDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EnDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArDetails)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArDetails)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EnDetails)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EnDetails)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FromYear)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FromYear)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ToYear)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ToYear)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProjectState)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProjectState)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CountryId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Country.ArCountryName)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="submit" value="@Localizer["Delete"]" class="btn btn-default" />
        <a asp-action="Index">@Localizer["BackToList"]</a>
    </form>
</div>
