@model IEnumerable<ARID.Models.City>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form>
    <p>
        <input type="text" name="keyword">
        <input type="submit" value="Search" />
    </p>
</form>
<table class="table-hover table table-striped table-bordered dt-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ArCityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnCityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ArCityName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnCityName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country.ArCountryName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
