@model IEnumerable<ARID.Models.Publication>
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization

@inject IViewLocalizer Localizer
﻿@{
    ViewData["Title"] = Localizer["Title"];
}

<h3>@Localizer["Index"]</h3>
<hr />
<p>
    <a asp-action="Create" class="btn btn-default" style="color:black;font-weight:800">@Localizer["CreateNew"]</a>
</p>
<table class="table-hover table table-striped table-bordered dt-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PublicationType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArAuthors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnAuthors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PublicationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publisher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DOI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DownloadHits)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PublicationType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArAuthors)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnAuthors)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PublicationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Publisher)
                </td>
                <td>
                    <a href="@item.DOI" target="_blank">@item.DOI</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DownloadHits)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">@Localizer["Edit"]</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">@Localizer["Delete"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>
