@model ARID.Models.MOOCProvider
@{
    ViewData["Title"] = "Delete";
}
<div>
    <h1>حذف</h1>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.Raw(Model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Logo)
        </dt>
        <dd>
            <img class="img-rounded" src="@Url.Content("~/" + @ARID.Properties.Resources.ScientificEvent + "/" + Model.Logo)" width="280" height="200" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Website)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Website)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fb)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fb)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Twitter)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Twitter)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.ArName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateOfRecord)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateOfRecord)
       
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="حذف" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-primary">الرجوع الى القائمة</a>
    </form>
</div>
