@model ARID.Models.MOOCProviderViewModel
@{
    ViewData["Title"] = "Index";
}
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{ ApplicationUser currentUser = await UserManager.GetUserAsync(User); }
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using System.Globalization

<br />
<br />
<div class="form-group row col-lg-8">
    <div class="col-lg-2">
        <span class="glyphicon glyphicon-search" id="span" title="بحث"></span>
        <span class="glyphicon glyphicon-remove" id="spanx" title="الغاء نتائج البحث"></span>
    </div>
    <div class="col-lg-6">
        <form asp-controller="publicationTitles" asp-action="Index" id="form" class="row">
            <p>
                <input id="in" type="text" name="SearchString">
                <input type="submit" value="بحث" id="search" />
            </p>
        </form>
    </div>
</div>
<br />
<br />
<h1>منصات التعليم الالكتروني</h1>
<p>
    <a asp-action="Create" class="btn btn-success">إضافة</a>
</p>
<div class="row">
    <div class="col-lg-8">
        <table class="table-hover table table-striped table-bordered dt-responsive">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.MOOCProvider.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MOOCProvider.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.MOOCProvider.Website)
                    </th>
                    <th>
                        عدد الدورات
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.MOOCProviders)
                {

                            <tr>
                                <td>
                                    <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    <a href="@Html.DisplayFor(modelItem => item.Website)" target="_blank">@Html.DisplayFor(modelItem => item.Website)</a> 
                                </td>
                                <td>  @Model.MOOCLists.Where(a => a.MOOCProviderId == item.Id).Count()</td>
                                <td>
                                    @if (User.IsInRole("Admins") || item.ApplicationUserId == currentUser.Id)
                                    {
                                        <a asp-action="Edit" asp-route-id="@item.Id"><span class="glyphicon glyphicon-edit"></span></a>

                                    }
                                    @if (User.IsInRole("Admins"))
                                    {
                                        <a asp-action="Delete" asp-route-id="@item.Id"><span class="glyphicon glyphicon-trash"></span></a>
                                    }
                                </td>
                            </tr>
                }
            </tbody>
        </table>
        <div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
             page-class="btn border" page-class-normal="btn btn-default active"
             page-class-selected="btn btn-success active" class="btn-group m-1"></div>
        <br />

    </div>


</div>
@section scripts{
    <script>
        $(document).ready(function () {

            $("#form").hide();
            $("#span").css('cursor', 'pointer');
            $("#spanx").css('cursor', 'pointer');
            $("#span").click(function () {
                $("#form").slideToggle("slow");

                //$("#span").toggleClass(".glyphicon glyphicon-remove");

            });
            $("#spanx").click(function () {
                $("#in").attr('value', '')
                $('#search').trigger('click');
            });
        });
    </script>

}