@model ARID.Models.FreelancerProposal

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>FreelancerProposal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IsNameVisible)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsNameVisible)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsPrivate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsPrivate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsAssigned)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsAssigned)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsReported)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsReported)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Isvisible)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Isvisible)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DaysRequired)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DaysRequired)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FreelancerProjectId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FreelancerProjectId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateofRecord)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateofRecord)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateOfAssignment)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateOfAssignment)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DeliveredDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeliveredDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BidAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BidAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProposalStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProposalStatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReportedByUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReportedByUser.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
