@model IEnumerable<ARID.Models.JournalIssue>
@{
    ViewData["Title"] = "أعداد المجلة";
}
<h2>أعداد  @ViewData["jan"]</h2>
<p>
    <a class="btn btn-success bold" asp-action="Create" asp-route-id="@ViewData["jid"]">إضافة</a>
</p>
<table class="table-hover table table-striped table-bordered dt-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Releasedate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPublished)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsOpen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Visitors)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PdfDownloadCounter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JournalId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VolumeId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Releasedate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsPublished)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsOpen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Visitors)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PdfDownloadCounter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Journal.ArName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Volume.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" asp-route-jid="@ViewData["jid"]"><span class="glyphicon glyphicon-edit"></span></a>
                    <a asp-action="Details" asp-route-id="@item.Id" asp-route-jid="@ViewData["jid"]">تفاصيل</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-primary bold" asp-controller="Journals" asp-action="Home" asp-route-id="@ViewData["jsn"]">رجوع</a>
<style>
    label, h2, input[type='submit'], .bold {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
    }
</style>