@model IEnumerable<ARID.Models.ApplicationUser>
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization

@inject IViewLocalizer Localizer
﻿@{
    ViewData["Title"] = Localizer["Title"];
}

<h3>@Localizer["Index"]</h3>
<hr />
<table class="table-hover table table-striped table-bordered dt-responsive">
    <thead>
        <tr>
            <th width="100">
                @Html.DisplayNameFor(model => model.ARID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfileImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FacultyId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UniversityId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CityId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryId)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Common.ARIDFormat(item.ARID)
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.ProfileImage) && !string.IsNullOrWhiteSpace(item.ProfileImage))
                    {
                        <img class="img-rounded" src="@Url.Content("~/" + @ARID.Properties.Resources.ProfileImageFolder + "/" + item.ProfileImage)" width="50" height="50" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Faculty.ArFacultyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.University.ArUniversityName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City.ArCityName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country.ArCountryName)
                </td>
            </tr>
        }
    </tbody>
</table>
