@model ARID.Models.FreelancerComment

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>FreelancerComment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FreelancerProjectId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FreelancerProjectId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Commentary)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Commentary)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateOfRecord)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateOfRecord)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
