@model ARID.Models.MOOCList

@{
    ViewData["Title"] = Html.DisplayFor(model => model.Title);
}

<h2>@Html.DisplayFor(model => model.Title)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.Raw(Model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsFree)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsFree)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Language)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Language)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Certificate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Certificate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Link)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Link)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.YouTubeLink)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.YouTubeLink)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tags)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tags)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Instructor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Instructor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateOfRecord)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateOfRecord)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUserId)
        </dt>
        <dd>
            <a target="_blank" asp-action="Details" asp-controller="ApplicationUsers" asp-route-id="@Model.ApplicationUser.Id">
                @Html.DisplayFor(model => model.ApplicationUser.ArName)
                <br />
                <img class="img-rounded" src="@Url.Content("~/" + @ARID.Properties.Resources.ProfileImageFolder + "/" + Model.ApplicationUser.ProfileImage)" width="50" height="50" /><br />
            </a>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MOOCProviderId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MOOCProvider.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SpecialityId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Speciality.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UniversityId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.University.ArUniversityName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd>
            <img class="img-rounded" src="@Url.Content("~/" + @ARID.Properties.Resources.ScientificEvent + "/" + Model.Image)" width="280" height="200" />
        </dd>
    </dl>
</div>
<div>
    <a id="btnreport" class="btn btn-danger">ابلاغ</a>
    <a asp-action="Index" class="btn btn-primary">العودة الى القائمة</a>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $("#btnreport").click(
                function () {
                    if ($("#btnreport").text() == "ابلاغ")
                    {
                        var FollowOptions = {};
                        FollowOptions.url = "/ar-LY/MOOCLists/Report/";
                        FollowOptions.data = { id: "@Model.Id" };
                        FollowOptions.success = function () {
                            $("#btnreport").prop("text", "تم بلاغ الادارة بنجاح");
                                                  };
              $.ajax(FollowOptions);
                    }
                });
        });
    </script>
}