@model IEnumerable<ARID.Models.Badge>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Index"];
}

@*<h3 style="font-family:tahoma">«·«Ê”„…</h3>*@

@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@

<h3>@Localizer["Index"] |  <a asp-action="Personal" asp-controller="UserBadges">@Localizer["Status"]</a></h3>

<table class="table-hover table table-striped table-bordered dt-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ArBadgeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnBadgeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BadgeLogo)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.EmailContentId)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.ArBadgeName)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EnBadgeName)
                </td>


                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">
                        <img class="img-rounded" src="@Url.Content("~/" + @ARID.Properties.Resources.BadgeLogoFolder + "/" + item.BadgeLogo)" width="50" height="50" />
                    </a>
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.EmailContent.ArSubject)
                    </td>*@
                <td>
                    @*<a style="font-family:Arial" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                    <a asp-controller="ApplicationUsers" asp-action="Badges" asp-route-id="@item.Id">@Localizer["Users"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>
