@model ARID.Models.PublicationTitleViewModel
@{
    ViewData["Title"] = "دليل المجلات العلمية";
}
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{ ApplicationUser currentUser = await UserManager.GetUserAsync(User); }
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using System.Globalization
<div class="form-group row col-lg-12" hidden>
    <div class="col-lg-2">
        <span class="glyphicon glyphicon-search" id="span" title="بحث"></span>
    </div>
    <div class="col-lg-4">
        <form asp-controller="PublicationTitles" asp-action="Index" id="form" class="row">
            <p>
                <input id="in" type="text" name="SearchString">
                <input type="submit" value="بحث" id="search" />

            </p>
        </form>
        <p>
            <input hidden id="details1" type="text" name="SearchString">
            <input hidden type="submit" value="بحث" id="searchdetails" />
        </p>
    </div>
</div>

@if (User.IsInRole("Admins"))
{
    <h2>&nbsp;</h2>
    <div class="col-lg-12">
        <input class="btn-xs btn-info pull-left" type="submit" value="كل المجلات" id="all" />
        <input class="btn-xs btn-default pull-left" type="submit" value="طلبات تحتاج موافقة" id="acceptance" />
        <input class="btn-xs btn-danger pull-left" type="submit" value="المجلات المبلغ عنه" id="searchreported" />
        <input class="btn-xs btn-warning pull-left" type="submit" value="المجلات المميزة" id="searchfeature" />
    </div>

}

<h3 class="text-center">المجلات العلمية</h3>
<p>
    <a asp-action="Create" class="btn btn-success h5">أضافة مجلة</a>
</p>
<div class="row">
    <div class="col-lg-12">
        <div class="col-lg-8">
            @foreach (var item in Model.PublicationTitles)
            {
                <div class="container table-bordered col-lg-12" style="background-color:ghostwhite;border-color:ActiveCaption;padding:10px;margin-top:10px;margin-bottom:10px">
                    <a class="text-primary" asp-controller="PublicationTitles" asp-action="Details" asp-route-id="@item.Id">
                        <img class="img-rounded  pull-right" src="@Url.Content("~/" + @ARID.Properties.Resources.ScientificEvent + "/" + item.Logo)" width="100" height="100" />
                        <h4>&nbsp; <strong>@item.ArName</strong></h4>
                    </a>
                    <div class="pull-left" style="position:absolute;bottom:10px;left:10px">
                        @if (item.IsFeatured == true)
                        {<h5 style="display:inline"><span class="label label-warning">"مميز"</span></h5>}
                        @if (item.IsScopusIndexed)
                        {
                            <h5 style="display:inline"><span class="label label-default">"Scopus"</span></h5>}
                        <h5 style="display:inline"><span class="label label-info">@item.EstablishmentDate.ToString("dd/M/yyyy")</span></h5>
                        <h5 style="display:inline"><span class="label label-primary">@item.Country.ArCountryName</span></h5>
                        <h5 style="display:inline"><span class="label label-success">@item.Speciality.Name</span></h5>
                        @if (User.IsInRole("Admins") || currentUser.Id == item.ApplicationUserId)
                        {

                            <div class="dropdown" style="display:inline;">
                                <button class="btn-xs btn-info dropdown-toggle" type="button" data-toggle="dropdown">
                                    <small><span class="glyphicon glyphicon-cog"></span></small>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a asp-action="Edit" asp-controller="PublicationTitles" asp-route-id="@item.Id">تعديل</a></li>
                                    @if (User.IsInRole("Admins"))
                                    {
                                        <li><a asp-action="Edit" asp-controller="PublicationTitles" asp-route-id="@item.Id">حذف</a></li>}
                                </ul>
                            </div>
                        }
                    </div>
                    <br />
                </div>

            }
            @if (Model.PublicationTitles.Count() > 10) { 
            <div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
                 page-class="btn border" page-class-normal="btn btn-default active"
                 page-class-selected="btn btn-success active" class="btn-group m-1"></div>
            }
            <br />


        </div>
        @if (Model.PublicationTitles.Where(p => p.IsFeatured == true).Any())
        {
            <div class="col-lg-4">
                <p style="font-size:32px;text-align:center;">مجلات مميزة</p>
                <hr style=" border-top:3px solid #275bad;">

                @foreach (var item in Model.PublicationTitles)
                {
                    @if (item.IsFeatured == true && item.IsAdminAccepted == true)
                    {
                        @if (item.Logo != "")
                        {
                            <img class="img-rounded" src="@Url.Content("~/" + @ARID.Properties.Resources.ScientificEvent + "/" + item.Logo)" width="380" height="200" />
                        }
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => item.ArName)
                            </dt>
                            <dd>
                                <a asp-action="Details" asp-route-id="@item.Id">  @Html.DisplayFor(modelItem => item.ArName)</a>
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => item.SpecialityId)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => item.Speciality.Name)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => item.ApplicationUserId)
                            </dt>
                            <dd>
                                <a asp-action="Details" asp-controller="ApplicationUsers" asp-route-id="@item.ApplicationUser.Id">
                                    @Html.DisplayFor(model => item.ApplicationUser.ArName)
                                </a>
                                <img class="img-rounded" src="@Url.Content("~/" + @ARID.Properties.Resources.ProfileImageFolder + "/" + item.ApplicationUser.ProfileImage)" width="50" height="50" /><br />
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => item.PublicationTypes)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => item.PublicationTypes)
                            </dd>
                        </dl>
                        <hr style=" border-top:3px solid #275bad;">
                    }
                }

            </div>
        }
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {

            $("#spanx").click(function () {
                $("#in").attr('value', '')
                $('#search').trigger('click');
            });
            $("#all").click(function () {
                $("#in").attr('value', '')
                $('#search').trigger('click');
            });
            $("#searchreported").click(function () {
                $("#in").attr('value', 'reported')
                $('#search').trigger('click');
            });
            $("#searchfeature").click(function () {
                $("#in").attr('value', 'featured')
                $('#search').trigger('click');
            });
            $("#acceptance").click(function () {
                $("#in").attr('value', 'acceptance')
                $('#search').trigger('click');
            });
        });
    </script>

}