@model ARID.Models.JournalViewModel
@{
    ViewData["Title"] = @Html.DisplayNameFor(model => model.Journal.ArName);
}
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{ ApplicationUser currentUser = await UserManager.GetUserAsync(User); }
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using System.Globalization
<h2>
    @if (SignInManager.IsSignedIn(User))
    {
        @if (currentUser.Id == Model.Journal.EiCId)
        {
            <ul class="nav navbar-nav">
                <li class="dPopdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <span class="glyphicon glyphicon-cog small" aria-hidden="true"></span>

                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a class=" bold col-lg-12" asp-action="Index" asp-controller="JournalFileTypes" asp-route-id="@ViewData["journalid"]">ملفات المجلة</a></li>
                        <li><a class=" bold col-lg-12" asp-action="Index" asp-controller="JournalArticleTypes" asp-route-id="@ViewData["journalid"]">مقالات المجلة</a></li>
                        <li><a class=" bold col-lg-12" asp-action="Index" asp-controller="JournalSpecialities" asp-route-id="@ViewData["journalid"]">تخصصات المجلة</a></li>
                        <li><a class="bold col-lg-12" asp-action="Index" asp-controller="Volumes" asp-route-id="@ViewData["journalid"]">مجلدات المجلة</a></li>
                        <li><a class=" bold col-lg-12" asp-action="Index" asp-controller="JournalIssues" asp-route-id="@ViewData["journalid"]">أعداد المجلة</a></li>

                    </ul>
                </li>
                <li>
                    @Html.DisplayFor(model => model.Journal.ArName)
                </li>

            </ul>
        }

    }
    <br />
    <a asp-action="Details" style="float:left;margin-left:40px;" asp-route-Id="@ViewData["journalid"]" class="btn btn-success bold"><span class="glyphicon glyphicon-dashboard"></span> نظام إدارة بحوث المجلة</a><br><br>

</h2>





<ul class="nav nav-justified">
    @foreach (var item in Model.JournalPages)
    {
        <li style="border: 1px solid #d5d5d5;">
            <a asp-action="Details" asp-controller="JournalPages" asp-route-id="@item.Id">
                @Html.DisplayFor(modelItem => item.Title)
            </a>
        </li>
    }
</ul>
<hr />
<div class="col-lg-12">
    <div class="col-lg-7">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Journal.ArName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Journal.ArName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Journal.EnName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Journal.EnName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Journal.ArDescription)
            </dt>
            <dd>
                @Html.Raw(Model.Journal.ArDescription)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Journal.EnDescription)
            </dt>
            <dd>
                @Html.Raw(Model.Journal.EnDescription)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Journal.ShortName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Journal.ShortName)
            </dd>
            @if (Model.Journal.Logo != null)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.Journal.Logo)
                </dt>
                <dd>
                    <img class="img-rounded" src="@Url.Content("~/" + @ARID.Properties.Resources.Images + "/" + Model.Journal.Logo)" width="280" height="200" />
                </dd>
            }
            <dt>
                @Html.DisplayNameFor(model => model.Journal.PISSN)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Journal.PISSN)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Journal.EISSN)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Journal.EISSN)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Journal.Email)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Journal.Email)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Journal.ActivationDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Journal.ActivationDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Journal.JournalStatus)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Journal.JournalStatus)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Journal.Visitors)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Journal.Visitors)
            </dd>
            @*<dt>
                    @Html.DisplayNameFor(model => model.Journal.CreatedByUser)
                </dt>
                <dd>
                    <a target="_blank" asp-action="Details" asp-route-id="@Model.Journal.EiC.Id" asp-controller="ApplicationUsers">  @Html.DisplayFor(model => model.Journal.CreatedByUser.ArName)</a>
                </dd>*@
            <dt>
                @Html.DisplayNameFor(model => model.Journal.EiC)
            </dt>
            <dd>
                <img class="img-rounded" src="@Url.Content("~/" + @ARID.Properties.Resources.ProfileImageFolder + "/" + Model.Journal.EiC.ProfileImage)" width="100" height="100" /><br />
                <a asp-action="Details" asp-controller="ApplicationUsers" asp-route-id="@Model.Journal.EiC.Id">
                    @Html.DisplayFor(model => model.Journal.EiC.ArName)
                </a>
                @if (SignInManager.IsSignedIn(User))
                {
                    if (await UserManager.IsInRoleAsync(currentUser, RoleName.Admins))
                    {

                        <a href="https://portal.arid.my/ar-LY/Account/DAL/@Model.Journal.EiC.DAL"><span class="glyphicon glyphicon-log-in"></span></a>
                    }
                }

            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Journal.PublisherId)
            </dt>
            <dd>
                <a target="_blank" asp-action="Details" asp-route-id="@Model.Journal.Publisher.Id" asp-controller="Publishers">  @Html.DisplayFor(model => model.Journal.Publisher.ArName)</a>
            </dd>
        </dl>
    </div>
    <div class="col-lg-2"></div>
    <div class="col-lg-3">
        @if (SignInManager.IsSignedIn(User))
        {
            @if (Model.Journal.EiCId == currentUser.Id)
            {
                <a asp-action="Index" asp-controller="AreaEditors" asp-route-id="@ViewData["journalid"]" class="btn btn-success bold  col-lg-12">قائمة مساعدي رئيس التحرير</a><br /><br />
                <a class="btn btn-info bold col-lg-12" asp-action="Index" asp-controller="Manuscripts" asp-route-id="Submitted" asp-route-jid="@ViewData["journalid"]" asp-route-j="1">إدارة البحوث</a><br /><br />
                <a class="btn btn-info bold col-lg-12" asp-action="ReviewersSearch" asp-controller="Journals" asp-route-id="@ViewData["journalid"]">البحث عن محكمين</a><br /><br />
            }
            @if (Model.AreaEditors.Where(a => a.ApplicationUserId == currentUser.Id).Count() > 0)
            {
                <a asp-action="AEManuscripts" asp-controller="Manuscripts" asp-route-id="@ViewData["jshortname"]" class="btn btn-info bold col-lg-12">الأبحاث المسندة كمحرر</a><br /><br />
            }
            @if (Model.SubmissionReviewers.Where(a => a.ReviewerUserId == currentUser.Id).Count() > 0)
            {
                <a asp-action="RevManuscripts" asp-controller="Manuscripts" asp-route-id="@ViewData["journalid"]" class="btn btn-info bold col-lg-12">الأبحاث المسندة كمحكم</a><br /><br />
            }
            @if (Model.AreaEditors.Where(a => a.ApplicationUserId == currentUser.Id && a.RoleId == Role.TechnicalEditor).Count() > 0)
            {
                <a class="btn btn-warning bold col-lg-12" asp-controller="Manuscripts" asp-action="TechnicalEditorIndex" asp-route-id="@Model.Journal.Id">لوحة تحكم المساعد التقني</a><br /><br />}
        }
    </div>
</div>

<hr />
<h3>الاعداد</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JournalIssue.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JournalIssue.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JournalIssue.Releasedate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JournalIssue.Cover)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JournalIssue.Pdf)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Journal)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.JournalIssues)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Releasedate)
                </td>
                <td>
                    @*<a asp-action="Details" asp-route-id="@item.Id">*@
                    <img class="img-rounded" src="@Url.Content("~/" + @ARID.Properties.Resources.Images + "/" + item.Cover)" width="100" height="150" />
                    @*</a>*@
                </td>
                <td>
                    <a target="_blank" href="@Url.Content("~/" + @ARID.Properties.Resources.PublicationFiles + "/" + item.Pdf)">
                        <span class="glyphicon glyphicon-save"></span>
                    </a>
                </td>
                <td>
                    @*<a asp-action="Published" asp-controller="JournalRepositories" asp-route-id="@item.Id">عرض البحوث</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
<style>

    label, h2, input[type='submit'], .bold {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
    }
</style>