@model ARID.Models.CourseSponsor

@{
    ViewData["Title"] = @Html.DisplayFor(model => model.Name);
    
}

<h2>
    @Html.DisplayFor(model => model.Name)
</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Indx)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Indx)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Logo)
        </dt>
        <dd>
            <img class="img-rounded" src="@Url.Content("~/" + @ARID.Properties.Resources.ScientificEvent + "/" + Model.Logo)" width="280" height="200" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Link)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Link)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CourseId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Course.ArName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-primary">العودة الى القائمة</a>
</div>
